<h2 class="mono">New Account</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-floating my-3 col-sm-10 col-lg-4">
    <%= form.text_field :username, autocomplete: 'username', class: 'form-control', placeholder: 'Username' %>
    <%= form.label :username, 'Username' %>
  </div>

  <div class="form-floating my-3 col-sm-10 col-lg-4">
    <%= form.email_field :email, autocomplete: 'email', class: 'form-control', placeholder: 'Email' %>
    <%= form.label :email, 'Email' %>
  </div>

  <div class="form-floating my-3 col-sm-10 col-lg-4">
    <%= form.password_field :password, autocomplete: 'new-password', class: 'form-control', placeholder: 'Password' %>
    <%= form.label :password, 'Password' %>

    <% if @minimum_password_length %>
      <div class="form-text" id="passwordHelp">(<%= @minimum_password_length %> characters minimum)</div>
    <% end %>
  </div>

  <div class="form-floating my-3 col-sm-10 col-lg-4">
    <%= form.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control', placeholder: 'Confirm password' %>
    <%= form.label :password_confirmation, 'Confirm password' %>
  </div>

  <div class="row g-3 align-items-center">
    <div class="col-auto">
      <%= form.button :submit, class: 'btn btn-primary' do %>
        <i class="bi-arrow-right"></i> Submit
      <% end %>
    </div>

    <div class="col-auto">
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
