<h2 class="mono">Password Reset</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |form| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= form.hidden_field :reset_password_token %>

  <div class="form-floating my-3 col-sm-10 col-lg-4">
    <%= form.password_field :password, autocomplete: 'new-password', class: 'form-control', placeholder: 'New password' %>
    <%= form.label :password, 'New password' %>

    <% if @minimum_password_length %>
      <div class="form-text" id="passwordHelp">(<%= @minimum_password_length %> characters minimum)</div>
    <% end %>
  </div>

  <div class="form-floating my-3 col-sm-10 col-lg-4">
    <%= form.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control', placeholder: 'Confirm password' %>
    <%= form.label :password_confirmation, 'Confirm new password' %>
  </div>

  <div class="row g-3 align-items-center">
    <div class="col-auto">
      <%= form.button :submit, class: 'btn btn-primary' do %>
        <i class="bi-arrow-right"></i> Change password
      <% end %>
    </div>

    <div class="col-auto">
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
