<%= form_with model: @groupbuy do |form| %>
  <div class="row mb-3">
    <%= form.label :name, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10 col-lg-4">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :start, 'Start date', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10 col-lg-4">
      <%= form.date_field :start, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :end, 'End date', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10 col-lg-4">
      <%= form.date_field :end, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :category, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10 col-lg-4">
      <%= form.select :category, Groupbuy.categories.keys.map {|category| [category.titleize, category]}, {}, { :class => 'form-select' } %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :image, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10 col-lg-4">
      <%= form.url_field :image, class: 'form-control' %>
    </div>
  </div>

  <fieldset class="row mb-3 align-items-center">
    <legend class="col-form-label col-sm-2 pt-0">Vendors</legend>
    <div class="col-sm-10">
      <div data-controller="nested-form">
        <template data-nested-form-target="template">
          <%= form.fields_for :proxy_links, ProxyLink.new, child_index: 'NEW_RECORD' do |link| %>
            <%= render 'proxy_link_fields', form: link %>
          <% end %>
        </template>

        <%= form.fields_for :proxy_links do |link| %>
          <%= render 'proxy_link_fields', form: link %>
        <% end %>

        <div class="my-3" data-nested-form-target="links">
          <%= link_to 'Add Vendor', '#', class: 'btn btn-primary', data: { action: 'click->nested-form#add_association' } %>
        </div>
      </div>
    </div>
  </fieldset>

  <%= form.submit :class => 'btn btn-primary' %>
<% end %>