<div class="card text-white bg-dark my-3" style="width: 18rem">
  <%= image_tag groupbuy.image, class: 'card-img-top' %>
  
  <div class="card-header">
    <h4 class="mono"><%= groupbuy.name %></h4>
    <h6 class="card-subtitle text-muted"><%= groupbuy.end_distance %></h6>
  </div>

  <div class="card-body">
    <ul class="list-group">
      <li class="d-flex align-items-center justify-content-between">
        <span class="badge bg-secondary">Type</span>
        <%= groupbuy.category.titleize %>
      </li>
      <li class="d-flex align-items-center justify-content-between">
        <span class="badge bg-secondary">Start</span>
        <%= groupbuy.start_date %>
      </li>
      <li class="d-flex align-items-center justify-content-between">
        <span class="badge bg-secondary">End</span>
        <%= groupbuy.end_date %>
      </li>
    </ul>

    <div class="dropdown d-grid mt-3">
      <div class="btn-group">
        <%= link_to groupbuy, class: 'btn btn-outline-primary w-100' do %>
          <i class="bi-eye-fill"></i> View
        <% end %>
        <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" id="linkDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>

        <ul class="dropdown-menu dropdown-menu-dark w-100" aria-labelldby="linkDropdownButton">
          <% if groupbuy.links.any? %>
            <% groupbuy.links.each do |link| %>
              <li>
                <%= link_to link.link, class: 'dropdown-item d-flex justify-content-between', target: '_blank' do %>
                  <span class="badge bg-primary"><%= link.descriptor.upcase %></span>
                  <%= link.name %>
                <% end %>
              </li>
            <% end %>
          <% end %>
          <% if can? :manage, groupbuy %>
            <div class="dropdown-divider"></div>
            <li><%= link_to edit_groupbuy_path(groupbuy), class: 'dropdown-item' do %><i class="bi-pencil"></i> Edit<% end %></li>
            <li><%= link_to groupbuy_path(groupbuy), method: :delete, data: { confirm: "Are you sure?" }, class: 'dropdown-item' do %><i class="bi-trash2-fill"></i> Delete<% end %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>