<div class="card text-white bg-dark my-3" style="width: 20rem;">
  <%= image_tag groupbuy.image, class: 'card-img-top' %>
  
  <div class="card-header">
    <h4><%= groupbuy.name %></h4>
    <h6 class="card-subtitle text-muted"><%= groupbuy.end_distance %></h6>
  </div>

  <div class="card-body">
    <ul class="list-group">
      <li class="d-flex align-items-center justify-content-between">
        <span class="badge bg-secondary">Type</span>
        <%= groupbuy.category.titleize %>
      </li>
      <li class="d-flex align-items-center justify-content-between">
        <span class="badge bg-secondary">Start</span>
        <%= groupbuy.start %>
      </li>
      <li class="d-flex align-items-center justify-content-between">
        <span class="badge bg-secondary">End</span>
        <%= groupbuy.end %>
      </li>
    </ul>
    <div class="dropdown d-grid mt-2 align-items-center">
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="proxyLinkDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
        Links
      </button>
      <ul class="dropdown-menu w-100" aria-labelldby="proxyLinkDropdownButton">
        <% if groupbuy.proxy_links.any? %>
          <% groupbuy.proxy_links.each do |proxy| %>
            <li>
              <a href="<%= proxy.link %>" class="dropdown-item d-flex justify-content-between" target="_blank">
                <span class="badge bg-secondary"><%= proxy.region %></span>
                <%= proxy.name %>
              </a>
            </li>
          <% end %>
          <div class="dropdown-divider"></div>
        <% end %>
        <li><%= link_to icon('pencil') + ' Edit', edit_groupbuy_path(groupbuy), class: 'dropdown-item' %></li>
        <li><%= link_to icon('trash2-fill') + ' Delete', groupbuy_path(groupbuy), method: :delete, data: { confirm: "Are you sure?" }, class: 'dropdown-item' %></li>
      </ul>
    </div>
  </div>
</div>