<!DOCTYPE html>
<html>
  <head>
    <title>Mechdb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container my-5">
      <%= render 'layouts/navbar' %>
      <%= yield %>
    </div>

    <div class="toast-container p-4 top-0 start-50 translate-middle-x position-absolute">
      <% flash.each do |type, message| %>
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header <%= type == 'alert' ? 'bg-danger' : 'bg-primary' %>  text-white">
            <strong class="me-auto"><%= message %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
